
.li-btn {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: none;
}
.li-btn-inicio {
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: none;
}
.hover-shadow:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hero {
    position: relative;
    overflow: hidden;
}
.hero-content {
    position: relative;
    z-index: 2;
}
.hero-text {
    padding: 50px;
    text-align: center; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina el margen por defecto */

}
.hero-text h2 {
    font-size: 3rem; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Aumenta el peso de la fuente */
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

#ayudalos {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.donacion-opcion {
    margin-bottom: 40px;
}

h2 {
    color: #ff6b6b;
}

p {
    margin: 10px 0;
}

.transferencia-info {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.transferencia-info p {
    margin: 5px 0;
}

.ubicaciones ul {
    margin-top: 10px;
    padding-left: 20px;
}

.ubicaciones li {
    margin-bottom: 10px;
}

.donacion-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.donacion-form label {
    font-weight: bold;
}

.donacion-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.donacion-form button {
    padding: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donacion-form button:hover {
    background-color: #ff4b4b;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* La imagen de fondo se queda fija al hacer scroll */
    color: #333;
}

#ayudalos {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente para que el texto sea legible */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
